
<!-- Toolbar -->

<div class="toolbar container" role="banner">
  <img width="40" alt="Logo"
    src="../assets/images/Library.png" />
  <span>E Library</span>
  <div class="spacer"></div>
  
</div>
<div class="container">
  <h4>All Books:</h4>

  <div class="col-md-12">
    <app-book-list (bookId)="searchBook($event)" [allBooks]="allBooks"></app-book-list>
  </div>

<div *ngIf="allBooks == null" class="alert alert-info" role="info">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Information:</span>
    The book collection is empty.
</div>
 
  <!-- <div class="col-md-12">
    <app-product-create (createdProduct)="onCreatedProduct($event)"></app-product-create>
  </div> -->
</div>

